<% content_for :head do %>
  <%= append_javascript_pack_tag 'stimulus' %>
<% end %>

<div class="row justify-content-center">
  <div class="col-3">
    <div id="list-evaluation" class="list-group">
      <a class="list-group-item" href="#list-brief"><%= t("evaluation.brief") -%></a>
      <a class="list-group-item" href="#list-employee-info"><%= t("evaluation.employee_info") -%></a>
      <% if (@job_role_performances.present? || @performance_capabilities.present?) && @evaluation_user_capability.company_evaluation_template.group_level != 'manager_b' %>
        <a class="list-group-item" href="#list-performance"><%= t("evaluation.performance") -%></a>
      <% end %>
      <% if @professional_capabilities.present? %>
        <a class="list-group-item" href="#list-professional"><%= t("evaluation.professional_capability") -%></a>
      <% end %>
      <% if @management_capabilities.present? %>
        <a class="list-group-item" href="#list-management"><%= t("evaluation.management_capability") -%></a>
      <% end %>
      <a class="list-group-item" href="#list-overall"><%= t("evaluation.overall") -%></a>
    </div>
  </div>
  <div class="col-9">
    <%= form_with model: @evaluation_user_capability, url: staff_evaluation_path(id: @evaluation_user_capability.id) do |f| %>
      <div class="scrollspy-evaluation" data-coreui-spy="scroll" data-coreui-target="#list-evaluation" data-coreui-smooth-scroll="true" tabindex="0">
        <div id="list-brief">
          <h4 class="p-2 bg-primary text-emphasis-primary rounded-top"><%= t("evaluation.brief") -%></h4>
          <div class="px-2">
            <%= markdown(@evaluation_user_capability.company_evaluation_template.brief) %>
          </div>
        </div>
        <div id="list-employee-info">
          <h4 class="p-2 bg-primary text-emphasis-primary"><%= t("evaluation.employee_info") -%></h4>
          <div class="px-2">
            <table class="table table-bordered border-primary">
              <tbody>
                <tr>
                  <td><%= t("user.chinese_name") -%></td>
                  <td><%= @evaluation_user_capability.user.chinese_name -%></td>
                  <td><%= t("user.company") -%></td>
                  <td><%= @evaluation_user_capability.company -%></td>
                </tr>
                <tr>
                  <td><%= t("user.department") -%></td>
                  <td><%= @evaluation_user_capability.department -%></td>
                  <td><%= t("user.hire_date") -%></td>
                  <td><%= @evaluation_user_capability.user.hire_date -%></td>
                </tr>
                <tr>
                  <td><%= t("user.manager_user") -%></td>
                  <td><%= @evaluation_user_capability.manager_user&.chinese_name -%></td>
                  <td><%= t("user.title") -%></td>
                  <td><%= @evaluation_user_capability.title -%></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <% if (@job_role_performances.present? || @performance_capabilities.present?) && @evaluation_user_capability.company_evaluation_template.group_level != 'manager_b' %>
          <div id="list-performance">
            <h4 class="p-2 bg-primary text-emphasis-primary"><%= t("evaluation.performance") -%></h4>
            <div class="px-2">
              <hr />
              <% @performance_capabilities.each do |capability| %>
                <h5><%= capability.name -%></h5>
                <%= markdown(capability.job_role_description(@evaluation_user_capability.job_role, @evaluation_user_capability.company_evaluation_template.company_evaluation_id)) -%>
                <hr />
              <% end %>
              <% @job_role_performances.each do |jrep| %>
                <h5><%= jrep.obj_name -%></h5>
                <%= markdown(jrep.obj_metric) -%>
                <hr />
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @professional_capabilities.present? %>
          <div id="list-professional">
            <h4 class="p-2 bg-primary text-emphasis-primary"><%= t("evaluation.professional_capability") -%></h4>
            <div class="px-2">
              <hr />
              <% @professional_capabilities.each do |capability| %>
                <h5><%= capability.name -%></h5>
                <%= markdown(capability.job_role_description(@evaluation_user_capability.job_role, @evaluation_user_capability.company_evaluation_template.company_evaluation_id)) -%>
                <hr />
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @management_capabilities.present? %>
          <div id="list-management">
            <h4 class="p-2 bg-primary text-emphasis-primary"><%= t("evaluation.management_capability") -%></h4>
            <div class="px-2">
              <hr />
              <% @management_capabilities.each do |capability| %>
                <h5><%= capability.name -%></h5>
                <%= markdown(capability.job_role_description(@evaluation_user_capability.job_role, @evaluation_user_capability.company_evaluation_template.company_evaluation_id)) -%>
                <hr />
              <% end %>
            </div>
          </div>
        <% end %>
        <div id="list-overall">
          <h4 class="p-2 bg-primary text-emphasis-primary"><%= t("evaluation.overall") -%></h4>
          <div class="px-2">
            <div class="mb-3">
              <%= f.label :self_overall_output, t('evaluation.self_overall_output'), class: "form-label" -%>
              <% if @evaluation_user_capability.user_id == current_user.id %>
                <% if @company_evaluation_template.self_overall_output_hint.present? %>
                  <div class="alert alert-dark alert-dismissible fade show mb-1" role="alert">
                    <%= @company_evaluation_template.self_overall_output_hint -%>
                    <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% end %>
                <%= f.text_area :self_overall_output, class: "form-control", rows: 3, placeholder: I18n.t("evaluation.self_overall_placeholder") -%>
              <% else %>
                <%= markdown(@evaluation_user_capability.self_overall_output) -%>
              <% end %>
            </div>
            <div class="mb-3">
              <%= f.label :self_overall_improvement, t('evaluation.self_overall_improvement'), class: "form-label" -%>
              <% if @evaluation_user_capability.user_id == current_user.id %>
                <% if @company_evaluation_template.self_overall_improvement_hint.present? %>
                  <div class="alert alert-dark alert-dismissible fade show mb-1" role="alert">
                    <%= @company_evaluation_template.self_overall_improvement_hint -%>
                    <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% end %>
                <%= f.text_area :self_overall_improvement, class: "form-control", rows: 3, placeholder: I18n.t("evaluation.self_overall_placeholder") -%>
              <% else %>
                <%= markdown(@evaluation_user_capability.self_overall_improvement) -%>
              <% end %>
            </div>
            <div class="mb-3">
              <%= f.label :self_overall_plan, t('evaluation.self_overall_plan'), class: "form-label" -%>
              <% if @evaluation_user_capability.user_id == current_user.id %>
                <% if @company_evaluation_template.self_overall_plan_hint.present? %>
                  <div class="alert alert-dark alert-dismissible fade show mb-1" role="alert">
                    <%= @company_evaluation_template.self_overall_plan_hint -%>
                    <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% end %>
                <%= f.text_area :self_overall_plan, class: "form-control", rows: 3, placeholder: I18n.t("evaluation.self_overall_placeholder")-%>
              <% else %>
                <%= markdown(@evaluation_user_capability.self_overall_plan) -%>
              <% end %>
            </div>
          </div>
        </div>
        <% if @evaluation_user_capability.user_id == current_user.id %>
          <%= f.submit t("form.save"), class: "btn btn-primary me-2" %>
          <%= f.submit t("form.submit"), class: "btn btn-warning" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
