<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with url: hr_calibration_sessions_path, multipart: true, method: :post do %>
      <%= hidden_field_tag :company_evaluation_id, params[:company_evaluation_id] %>
      <div class="modal-header">
        <h5 class="modal-title"><%= t(".title") -%></h5>
        <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mb-3">
            <%= label_tag :file, t("form.upload_file"), class: 'col-3 col-form-label' %>
            <div class="col-9">
              <%= file_field_tag :file, class: 'form-control' -%>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag t('form.create'), class: 'btn btn-primary', data: {'coreui-dismiss': :modal} %>
        <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal"><%= t("form.close") -%></button>
      </div>
    <% end %>
  </div>
</div>
