<% content_for :head do %>
  <%= append_stylesheet_pack_tag 'chartjs' %>
  <%= append_javascript_pack_tag 'stimulus' %>
  <%= append_javascript_pack_tag 'doughnut' %>
<% end %>

<% content_for :eucs_status_button do %>
  <%= link_to t('form.export'), staff_evaluation_progress_path(format: :xlsx), class: "btn btn-secondary" %>
<% end %>

<div class="row justify-content-center">
<% @company_evaluations.each do |company_evaluation| %>
  <div class="col-lg-12">
    <% if @evaluation_user_capabilities.present? %>
      <%= render partial: 'ui/home/evaluation_user_capabilities_status', locals: {
        title_my_class: 'my-3',
        page_raw_path: staff_evaluation_progress_path,
        display_label: @display_label,
        display_form_status: @display_form_status,
        company_evaluation_title: company_evaluation.title,
        evaluation_user_capabilities: @evaluation_user_capabilities.where(company_evaluation_template: {company_evaluation_id: company_evaluation.id})
      } %>
    <% end %>
  </div>
<% end %>
</div>
