<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with model: @job_role, url: admin_job_role_path(id: @job_role.id), method: :put do |f| %>
      <div class="modal-header">
        <h5 class="modal-title"><%= t(".title", st_code: @job_role.st_code) -%></h5>
        <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mb-3">
            <%= f.label :evaluation_role_id, t('admin.job_roles.index.evaluation_role'), class: 'col-4 col-form-label' %>
            <div class="col-8" data-controller="selectizes">
              <%= f.select :evaluation_role_id, EvaluationRole.pluck(:role_name, :id), {}, class: 'form-control', data: { 'selectizes-target': 'select' } -%>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit t('form.update'), class: 'btn btn-primary', data: {'coreui-dismiss': :modal} %>
        <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal"><%= t("form.close") -%></button>
      </div>
    <% end %>
  </div>
</div>
