<div class="row mb-2">
  <div class="col-3">
    <div class="card">
      <h5 class="card-header"><%= t('evaluation.evaluation_status') %></h5>
      <div class="card-body">
        <p class="card-text"><%= EvaluationUserCapability.form_status_options.invert[evaluation_user_capability.form_status] -%></p>
      </div>
    </div>
  </div>
  <% Capability.performance_column_names.each do |column_name| %>
    <% next if evaluation_user_capability.attributes[column_name].blank? %>
    <div class="col-3">
      <div class="card">
        <h5 class="card-header"><%= t("evaluation.#{column_name}_pct") %></h5>
        <div class="card-body">
          <p class="card-text"><%= evaluation_user_capability.attributes[column_name] -%></p>
        </div>
      </div>
    </div>
  <% end %>
  <% Capability.profession_column_label_and_names.each do |cp| %>
    <% next if evaluation_user_capability.attributes[cp.second].blank? %>
    <div class="col-3">
      <div class="card">
        <h5 class="card-header"><%= cp.first %></h5>
        <div class="card-body">
          <p class="card-text"><%= evaluation_user_capability.attributes[cp.second] -%></p>
        </div>
      </div>
    </div>
  <% end %>
  <% Capability.management_column_label_and_names.each do |cp| %>
    <% next if evaluation_user_capability.attributes[cp.second].blank? %>
    <div class="col-3">
      <div class="card">
        <h5 class="card-header"><%= cp.first %></h5>
        <div class="card-body">
          <p class="card-text"><%= evaluation_user_capability.attributes[cp.second] -%></p>
        </div>
      </div>
    </div>
  <% end %>
  <% if group_level == "staff" %>
    <% Capability.calibration_column_names.each do |column_name| %>
      <% next if evaluation_user_capability.attributes[column_name].blank? %>
      <div class="col-3">
        <div class="card">
          <h5 class="card-header"><%= t("calibration.#{column_name}") %></h5>
          <div class="card-body">
            <p class="card-text"><%= evaluation_user_capability.attributes[column_name] -%></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% job_role_performances.each do |jrep| %>
    <div class="col-3">
      <div class="card">
        <h5 class="card-header"><%= jrep.obj_name -%></h5>
        <div class="card-body">
          <p class="card-text"><%= jrep.obj_result -%></p>
        </div>
      </div>
    </div>
  <% end %>
  <hr />
  <div class="col-4">
    <div class="card">
      <h5 class="card-header"><%= t('evaluation.self_overall_output') %></h5>
      <div class="card-body">
        <p class="card-text"><%= markdown(evaluation_user_capability.self_overall_output) -%></p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <h5 class="card-header"><%= t('evaluation.self_overall_improvement') %></h5>
      <div class="card-body">
        <p class="card-text"><%= markdown(evaluation_user_capability.self_overall_improvement) -%></p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <h5 class="card-header"><%= t('evaluation.self_overall_plan') %></h5>
      <div class="card-body">
        <p class="card-text"><%= markdown(evaluation_user_capability.self_overall_plan) -%></p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <h5 class="card-header"><%= t('evaluation.manager_overall_output') %></h5>
      <div class="card-body">
        <p class="card-text"><%= markdown(evaluation_user_capability.manager_overall_output) -%></p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <h5 class="card-header"><%= t('evaluation.manager_overall_improvement') %></h5>
      <div class="card-body">
        <p class="card-text"><%= markdown(evaluation_user_capability.manager_overall_improvement) -%></p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <h5 class="card-header"><%= t('evaluation.manager_overall_plan') %></h5>
      <div class="card-body">
        <p class="card-text"><%= markdown(evaluation_user_capability.manager_overall_plan) -%></p>
      </div>
    </div>
  </div>
</div>
