<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t("form.row_number") -%></th>
      <th><%= t("user.chinese_name") -%></th>
      <th><%= t("user.department") -%></th>
      <th><%= t("user.title") -%></th>
      <th><%= t("calibration.raw_total_evaluation_score") -%></th>
      <th><%= t("evaluation.total_evaluation_score") -%></th>
      <th><%= t('evaluation.evaluation') -%></th>
    </tr>
  </thead>
  <tbody>
    <% calibration_session_users.each_with_index do |csu, index| %>
      <% bg_color_pre = (csu.evaluation_user_capability.total_evaluation_score - csu.evaluation_user_capability.raw_total_evaluation_score).abs > 1.5 ? "bg-danger" : "" %>
      <% bg_color = ((csu.evaluation_user_capability.total_evaluation_score - csu.evaluation_user_capability.raw_total_evaluation_score).abs > 1.5 || csu.evaluation_user_capability.total_evaluation_score < 2.5) ? "bg-danger" : "" %>
      <tr>
        <td><%= index + 1 -%></td>
        <td>
          <% form_status = csu.evaluation_user_capability.form_status %>
          <span data-coreui-toggle="tooltip" data-coreui-placement="top" data-coreui-title="<%= EvaluationUserCapability.form_status_options.invert[form_status] -%>">
            <%= csu.evaluation_user_capability.user.chinese_name -%>
          </span>
          <%= link_to staff_signing_path(id: csu.evaluation_user_capability.id, print_page: true), target: "_blank" do %>
            <%= svg_icon('free.svg#cil-print', %w[icon]) -%>
          <% end %>
        </td>
        <td>
          <span data-coreui-toggle="tooltip" data-coreui-placement="top" data-coreui-title="<%= csu.evaluation_user_capability.company -%>">
            <%= csu.evaluation_user_capability.department -%>
          </span>
        </td>
        <td><%= csu.evaluation_user_capability.title -%></td>
        <td class="<%= bg_color_pre -%>">
          <%= csu.evaluation_user_capability.raw_total_score_in_metric -%>
        </td>
        <td class="<%= bg_color -%>">
          <%= csu.evaluation_user_capability.total_score_in_metric -%>
        </td>
        <td>
          <%
          overall_text_path = if current_user.admin?
            overall_text_admin_evaluation_user_capability_path(id: csu.evaluation_user_capability.id)
          elsif current_user.hr_staff?
            overall_text_hr_evaluation_user_capability_path(id: csu.evaluation_user_capability.id)
          else
            overall_text_staff_evaluation_user_capability_path(id: csu.evaluation_user_capability.id)
          end
          %>
          <%= link_to overall_text_path, data: {"coreui-placement": "top", "coreui-toggle": "tooltip", "coreui-title": t("form.excerpt"), controller: "modal", action: "modal#click"} do -%>
            <%= svg_icon('free.svg#cil-excerpt', %w[icon icon-lg]) -%>
          <% end %>
          <%
          undo_confirm_path = if current_user.admin?
            undo_confirm_admin_calibration_session_user_path(id: csu.id)
          elsif current_user.hr_staff?
            undo_confirm_hr_calibration_session_user_path(id: csu.id)
          elsif current_user.id == csu.calibration_session.hr_reviewer_id
            undo_confirm_staff_calibration_session_user_path(id: csu.id)
          end
          %>
          <% if csu.new_calibration_session_id.nil? && session_status.in?(%w[proofreading]) && undo_confirm_path.present? %>
            <%= link_to undo_confirm_path, class: "ms-1", data: {controller: "modal", action: "modal#click", "modal-page-reload-value": true, "coreui-placement": "top", "coreui-toggle": "tooltip", "coreui-title": t("calibration.undo") } do -%>
              <%= svg_icon('free.svg#cil-action-undo', %w[icon icon-lg rotate_90]) -%>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
