<% content_for :head do %>
  <%= append_javascript_pack_tag 'stimulus' %>
<% end %>

<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="container">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th><%= t('user.chinese_name') -%></th>
            <th><%= t('user.clerk_code') -%></th>
            <th><%= t('import_exports.import_type_title') -%></th>
            <th><%= t('import_exports.file_status_title') -%></th>
            <th><%= t('import_exports.filename') -%></th>
            <th><%= t('form.status_time') -%></th>
            <th><%= t('form.action') -%></th>
          </tr>
        </thead>
        <tbody>
          <% @import_excel_files.each do |ief| %>
            <tr>
              <td><%= ief.user.chinese_name -%></td>
              <td><%= ief.user.clerk_code -%></td>
              <td><%= ImportExcelFile.import_type_options.invert[ief.import_type] -%></td>
              <td>
                <%= ImportExcelFile.file_status_options.invert[ief.file_status] -%>
                <%= link_to admin_company_evaluation_import_excel_file_path(id: ief.id, company_evaluation_id: @company_evaluation.id), class: 'ms-1 align-middle', data: {controller: "modal", action: "modal#click"} do %>
                  <%= svg_icon('free.svg#cil-info', %w[icon icon-lg]) %>
                <% end %>
              </td>
              <td>
                <% if ief.excel_file.present? %>
                  <%= link_to ief.excel_file.filename, rails_blob_path(ief.excel_file, disposition: "attachment"), data: { "coreui-title" => ief.title, "coreui-toggle" => "tooltip", "coreui-placement" => "top" } -%>
                <% end %>
              </td>
              <td><%= local_time(ief.created_at) -%></td>
              <td>
                <% if policy(ief).destroy_confirm? %>
                  <%= link_to destroy_confirm_admin_company_evaluation_import_excel_file_path(id: ief.id), class: "ms-1 align-middle", data: {controller: "modal", action: "modal#click", 'modal-page-reload-value': true, "coreui-placement": "top", "coreui-toggle": "tooltip", "coreui-title": t("form.destroy") } do -%>
                    <%= svg_icon('free.svg#cil-delete', %w[icon icon-lg]) -%>
                  <% end %>
                <% end %>
                <% if policy(ief).do_import_confirm? %>
                  <%= link_to do_import_confirm_admin_company_evaluation_import_excel_file_path(id: ief.id), class: "ms-1 align-middle", data: {controller: "modal", action: "modal#click", 'modal-page-reload-value': true, "coreui-placement": "top", "coreui-toggle": "tooltip", "coreui-title": t("form.import") } do -%>
                    <%= svg_icon('free.svg#cil-media-play', %w[icon icon-lg]) -%>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <div>
          <%== pagy_info(@pagy) %>
        </div>
        <div>
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
    </div>
  </div>
</div>
