<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <%= form_with model: @user, url: admin_user_path(id: @user.id), method: :put do |f| %>
      <div class="modal-header">
        <h5 class="modal-title"><%= t(".title", email: @user.email) -%></h5>
        <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mb-3">
            <%= f.label :preferred_language, t("user.preferred_language"), class: 'col-4 col-form-label' %>
            <div class="col-8">
              <%= f.select :preferred_language, language_options, {}, { class: "form-control" } %>
            </div>
          </div>
          <div class="row mb-3">
            <%= f.label :managed_company_names, t("user.hr_user_managed_companies"), class: 'col-4 col-form-label' %>
            <div class="col-8" data-controller="selectizes">
              <%= f.select :managed_company_names, UserJobRole.all_company_names, {}, multiple: true, class: 'form-control', data: { 'selectizes-target': 'select' } -%>
            </div>
          </div>
          <div class="row mb-3">
            <%= f.label :corp_president_managed_company_names, t("user.corp_president_managed_companies"), class: 'col-4 col-form-label' %>
            <div class="col-8" data-controller="selectizes">
              <%= f.select :corp_president_managed_company_names, UserJobRole.all_company_names, {}, multiple: true, class: 'form-control', data: { 'selectizes-target': 'select' } -%>
            </div>
          </div>
          <div class="row mb-3">
            <%= f.label :hrbp_user_managed_dept_codes, t("user.hrbp_user_managed_departments"), class: 'col-4 col-form-label' %>
            <div class="col-8" data-controller="selectizes">
              <%= f.select :hrbp_user_managed_dept_codes, UserJobRole.all_dept_codes, {}, multiple: true, class: 'form-control', data: { 'selectizes-target': 'select' } -%>
            </div>
          </div>
          <div class="row mb-3">
            <%= f.label :secretary_managed_dept_codes, t("user.secretary_managed_departments"), class: 'col-4 col-form-label' %>
            <div class="col-8" data-controller="selectizes">
              <%= f.select :secretary_managed_dept_codes, UserJobRole.all_dept_codes, {}, multiple: true, class: 'form-control', data: { 'selectizes-target': 'select' } -%>
            </div>
          </div>
          <div class="row mb-3">
            <%= f.label :wecom_id, t("user.wecom_id"), class: 'col-4 col-form-label' %>
            <div class="col-8">
              <%= f.text_field :wecom_id, class: 'form-control' -%>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit t('form.update'), class: 'btn btn-primary', data: {'coreui-dismiss': :modal} %>
        <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal"><%= t("form.close") -%></button>
      </div>
    <% end %>
  </div>
</div>
