<% content_for :head do %>
  <%= append_stylesheet_pack_tag 'selectize' %>
  <%= append_javascript_pack_tag 'stimulus' %>
  <%= append_javascript_pack_tag 'selectize_user_ids' %>
<% end %>

<div class="row justify-content-center">
  <div class="col-12">
    <div class="container">
      <%= form_tag hr_manager_performances_path, method: :get do -%>
        <div class="row g-3 align-items-center m-2">
          <div class="col-3">
            <label><%= t("performance.company_evaluation") -%></label>
            <%= select_tag :company_evaluation_id, options_from_collection_for_select(CompanyEvaluation.all.order(id: :desc), "id", "title", @company_evaluation_id), {class: 'form-control'} -%>
          </div>
          <div class="col-3">
            <label><%= t("user.company") -%></label>
            <%= select_tag :company, options_for_select(@companies, @company), {class: 'form-control'} -%>
          </div>
          <div class="col-3">
            <label><%= t("user.department") -%></label>
            <%= select_tag :department, options_for_select(@departments, @department), {include_blank: true, class: 'form-control'} -%>
          </div>
          <div class="col-2" data-controller="selectize-user-ids">
            <label><%= t("user.chinese_name") -%></label>
            <%= select_tag :user_id, options_from_collection_for_select(User.where(id: @user_id), "id", "name_with_clerk_code", @user_id), {class: 'form-control', data: {"selectize-user-ids-target": "selectBox"}} -%>
          </div>
          <div class="col">
            <%= submit_tag t("form.confirm"), class: 'btn btn-primary mt-button' %>
          </div>
        </div>
      <% end -%>
      <table class="table table-borderless">
        <tbody>
          <tr style="height: 66px;">
            <td rowspan="4" class="text-end"><%= t("evaluation.performance") -%></td>
            <td class="position-relative border border-primary bg-warning">
              <h5>B</h5>
              <% eucs = @evaluation_user_capabilities_group.fetch("11", []) %>
              <%= display_evaluation_user_capabilities(eucs) -%>
              <% if eucs.length >= 9 %>
                <div class="position-absolute bottom-0 end-0 m-1 cursor_pointer">
                  <%= svg_icon('free.svg#cil-flip-to-back', %w[icon icon-lg flip_horizontal]) -%>
                </div>
              <% end %>
            </td>
            <td class="position-relative border border-primary bg-primary">
              <h5>A</h5>
              <% eucs = @evaluation_user_capabilities_group.fetch("12", []) %>
              <%= display_evaluation_user_capabilities(eucs) -%>
              <% if eucs.length >= 9 %>
                <div class="position-absolute bottom-0 end-0 m-1 cursor_pointer">
                  <%= svg_icon('free.svg#cil-flip-to-back', %w[icon icon-lg flip_horizontal]) -%>
                </div>
              <% end %>
            </td>
            <td class="position-relative border border-primary bg-info">
              <h5>A+</h5>
              <% eucs = @evaluation_user_capabilities_group.fetch("13", []) %>
              <%= display_evaluation_user_capabilities(eucs) -%>
              <% if eucs.length >= 9 %>
                <div class="position-absolute bottom-0 end-0 m-1 cursor_pointer">
                  <%= svg_icon('free.svg#cil-flip-to-back', %w[icon icon-lg flip_horizontal]) -%>
                </div>
              <% end %>
            </td>
          </tr>
          <tr style="height: 66px;">
            <td class="position-relative border border-primary bg-warning">
              <h5>C</h5>
              <% eucs = @evaluation_user_capabilities_group.fetch("21", []) %>
              <%= display_evaluation_user_capabilities(eucs) -%>
              <% if eucs.length >= 9 %>
                <div class="position-absolute bottom-0 end-0 m-1 cursor_pointer">
                  <%= svg_icon('free.svg#cil-flip-to-back', %w[icon icon-lg flip_horizontal]) -%>
                </div>
              <% end %>
            </td>
            <td class="position-relative border border-primary bg-primary">
              <h5>B</h5>
              <% eucs = @evaluation_user_capabilities_group.fetch("22", []) %>
              <%= display_evaluation_user_capabilities(eucs) -%>
              <% if eucs.length >= 9 %>
                <div class="position-absolute bottom-0 end-0 m-1 cursor_pointer">
                  <%= svg_icon('free.svg#cil-flip-to-back', %w[icon icon-lg flip_horizontal]) -%>
                </div>
              <% end %>
            </td>
            <td class="position-relative border border-primary bg-info">
              <h5>A</h5>
              <% eucs = @evaluation_user_capabilities_group.fetch("23", []) %>
              <%= display_evaluation_user_capabilities(eucs) -%>
              <% if eucs.length >= 9 %>
                <div class="position-absolute bottom-0 end-0 m-1 cursor_pointer">
                  <%= svg_icon('free.svg#cil-flip-to-back', %w[icon icon-lg flip_horizontal]) -%>
                </div>
              <% end %>
            </td>
          </tr>
          <tr style="height: 66px;">
            <td class="position-relative border border-primary bg-warning">
              <h5>D</h5>
              <% eucs = @evaluation_user_capabilities_group.fetch("31", []) %>
              <%= display_evaluation_user_capabilities(eucs) -%>
              <% if eucs.length >= 9 %>
                <div class="position-absolute bottom-0 end-0 m-1 cursor_pointer">
                  <%= svg_icon('free.svg#cil-flip-to-back', %w[icon icon-lg flip_horizontal]) -%>
                </div>
              <% end %>
            </td>
            <td class="position-relative border border-primary bg-primary">
              <h5>C</h5>
              <% eucs = @evaluation_user_capabilities_group.fetch("32", []) %>
              <%= display_evaluation_user_capabilities(eucs) -%>
              <% if eucs.length >= 9 %>
                <div class="position-absolute bottom-0 end-0 m-1 cursor_pointer">
                  <%= svg_icon('free.svg#cil-flip-to-back', %w[icon icon-lg flip_horizontal]) -%>
                </div>
              <% end %>
            </td>
            <td class="position-relative border border-primary bg-info">
              <h5>B</h5>
              <% eucs = @evaluation_user_capabilities_group.fetch("33", []) %>
              <%= display_evaluation_user_capabilities(eucs) -%>
              <% if eucs.length >= 9 %>
                <div class="position-absolute bottom-0 end-0 m-1 cursor_pointer">
                  <%= svg_icon('free.svg#cil-flip-to-back', %w[icon icon-lg flip_horizontal]) -%>
                </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="text-end">
              <%= t("evaluation.professional_management_capability") -%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
