<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with model: @calibration_session_user, url: undo_admin_calibration_session_user_path(id: @calibration_session_user.id), method: :put do |f| %>
      <div class="modal-header">
        <h5 class="modal-title"><%= t(".title") -%></h5>
        <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mb-1">
            <%= f.label :undo_calibration_template_id, t("calibration.calibration_template"), class: 'col-3 col-form-label' %>
            <div class="col-9">
              <%= f.select :undo_calibration_template_id, @undo_company_evaluation_template.calibration_templates.collect { |ct| [ ct.template_name, ct.id ] }, {}, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit t('calibration.to_manager_score'), class: 'btn btn-primary', data: {'coreui-dismiss': :modal} %>
        <%= f.submit t('calibration.to_department_calibrate'), class: 'btn btn-primary', data: {'coreui-dismiss': :modal} %>
        <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal"><%= t("form.close") -%></button>
      </div>
    <% end %>
  </div>
</div>
