<% content_for :head do %>
  <%= append_javascript_pack_tag 'stimulus' %>
<% end %>

<%- content_for :action_bar do %>
  <ol>
  <% if @calibration_session.session_status.in?(%w[proofreading]) %>
    <li class="action_bar-item">
      <%= link_to approve_confirm_staff_proofreading_calibration_session_path(id: @calibration_session.id), class: "btn btn-outline-primary", data: {controller: "modal", action: "modal#click", 'modal-page-reload-value': true} do %>
        <%= t("calibration.approve") %> <%= svg_icon('free.svg#cil-check-alt', %w[icon]) -%>
      <% end %>
    </li>
  <% end %>
  </ol>
<% end %>

<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="container">
      <nav class="d-flex justify-content-center">
        <div class="nav nav-tabs" role="tablist" id="switch-nav">
          <%= link_to I18n.t("form.nine_square_grid"), square_staff_proofreading_calibration_session_path(id: @calibration_session.id), role: "tab", "aria-controls": "nav-square", "aria-selected": "true", class: "nav-link active" -%>
          <%= link_to I18n.t("form.table_grid"), staff_proofreading_calibration_session_path(id: @calibration_session.id), role: "tab", "aria-controls": "nav-table", "aria-selected": "false", class: "nav-link" -%>
        </div>
      </nav>
      <% company_evaluation_template = @calibration_session.calibration_template.company_evaluation_template %>
      <% case company_evaluation_template.group_level %>
      <% when 'staff' %>
        <%= render partial: "staff/proofreading_calibration_sessions/staff_square", locals: {calibration_session: @calibration_session, evaluation_user_capabilities_group: @evaluation_user_capabilities_group, total_people_num: @total_people_num} -%>
      <% when 'auxiliary' %>
        <%= render partial: "staff/proofreading_calibration_sessions/auxiliary_square", locals: {calibration_session: @calibration_session, evaluation_user_capabilities_group: @evaluation_user_capabilities_group, total_people_num: @total_people_num} -%>
      <% when 'manager_a' %>
        <%= render partial: "staff/proofreading_calibration_sessions/manager_a_square", locals: {calibration_session: @calibration_session, evaluation_user_capabilities_group: @evaluation_user_capabilities_group, total_people_num: @total_people_num} -%>
      <% when 'manager_b' %>
        <%= render partial: "staff/proofreading_calibration_sessions/manager_b_square", locals: {calibration_session: @calibration_session, evaluation_user_capabilities_group: @evaluation_user_capabilities_group, total_people_num: @total_people_num} -%>
      <% end %>
    </div>
  </div>
</div>
